<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>次元播后台管理</title>
<link href="__PUBLIC__/Admin/Common/Css/page.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="top_main">

	<div class="top_words">
    	<div class="top_wordsContent">Ciyuanbo Management Center</div>
    </div>
    
    <div class="top_menu">
		<a href="javascript:;" target="_blank">网站首页</a> |
		<a href="../../Login/auth.html" target="_parent" onclick="return window.confirm('你真的要退出管理吗？');">安全退出</a>
    </div>

</div>
</body>
</html>
