<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta http-equiv="Cache-control" content="max-age=3600">
<meta http-equiv="Expires" content="3600">
<title>深圳市次元时代科技有限公司</title>
<link href="/Public/Css/body.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="contain">
	 <img src="/Public/Css/logo.png" width="80" height="60" class="dx">
	 <div class="float"></div>
	  <div class="floated">
		 <a style="font-size:18px;">网站努力建设中,敬请期待精彩......</a>
		  <div class="gf"><img src="/Public/Css/df.jpg" width="80" height="60" class="dx"><div>
		  </div>
</div>
</body>
</html>
