<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>用户建议</title>
    <link href="__PUBLIC__/Admin/Common/Css/page.css" rel="stylesheet" type="text/css"/>
    <link href="__PUBLIC__/Admin/Common/Css/main.css" rel="stylesheet" type="text/css"/>
    <link href="__PUBLIC__/Admin/Common/Css/webmallDialog.css" rel="stylesheet" type="text/css" />
</head>
<body bgcolor="#F7F7F7">
<div class="content">

    <div class="content_top">&nbsp;&nbsp;&nbsp;现在的位置为：动态-&gt用户建议:</div>

    <div class="m_content">
        <div class="real_c">
            <table class="table_content">

                <!--<form name="goodsForm" method="post" action="#">-->
                <tr class="tr_top">
                    <th>用户名</th>
                    <th>时间</th>
                    <th>建议</th>
                </tr>

                <tr class="tr_list" >
                    <td>记下心来</td>
                    <td>17-03-02</td>
                    <td>网站有bug</td>
                </tr>

                <!-- 操作按钮 -->
                <tr>
                    <td style="padding-top:20px;">
                    </td>
                </tr>

            </table>
        </div>
    </div>
    <div class="b_border"></div>
</div>
</body>
</html>