<div id="t-menu">
    <div class="t-box">
        <a href="/home/article/add" class="t-link t-hover">首页</a> | 
        <a href="/home/Denglu/add" class="t-link t-hover">登陆</a> |
        <a href="/home/Zhuce/add" class="t-link t-hover">注册</a> |
        <a href="#" class="t-link">回到顶部</a>
    </div>
</div>
<div id="banner">
    <div class="ban-box">
        <div class="ban-txt">亮丽的远方</div>
        <div class="ban-txt" style="margin-left:760px;">————流年</div>
    </div>
</div>
<div  id="navi" >
    <div id="navi-box">
        <a href="/home/article/add" style="margin-left:150px;">那些年华</a>
        <a href="/home/Wenzhang/add" style="margin-left:200px;">添加情感</a>
        <a href="/home/article/add"  style="margin-left:200px;">听风而谈</a>
         <a href="/home/article/add"  style="margin-left:200px;">随风而行</a>
    </div>
</div>
