<html>
<head>
    <title></title>
    <meta name="Keywords" content="{site.keywords}"/>
    <meta name="Description" content="{site.desc}"/>
    <link rel="stylesheet" type="text/css" href="/Public/Css/list_gai.css"/>
    <link rel="stylesheet" type="text/css" href="/Public/Css/top-foot_gai.css"/>
</head>
<body>
<include file="./Application/Home/View/share/public/head_gai.html" />
<div class="main">
    <div class="c-box">
		<table style="color:#000;">
			<h3 class="p-h3">会员登陆</h3>
			<form id="user_add" action="__URL__/upload" method="post" enctype="multipart/form-data">
				<tr><td>用户名：</td><td><input type="text" id="user" name="user" /></td></tr>
				<tr><td>用户头像：</td><td><input type='file'  name='photo'></td></tr>
				<tr><td>登陆密码：</td><td><input type="password" id="pwd" name="pwd" /></td></tr>
				<tr><td>确认密码：</td><td><input type="password" name="repwd" /></td></tr>
				<tr><td>邮箱：</td><td><input type="text"  id="email" name="email" /></td></tr>
				<tr><td>手机号码：</td><td><input type="text" id="photo" name="phone" /></td></tr>
				<tr><td>验证码：</td><td><input type="text" name="yzm"/></td><td><img src="/Home/zhuce/code" onclick="refreshCode(this)"></td></tr>
				<tr><td><input type="submit" name="act" value="注册"/></td></tr>
			</form>
        </table>
    </div>
</div>

<?include ../share/foot_gai.html?>
<script src="/Public/Js/jquery.js"></script> 
<script>
function refreshCode(obj){
	obj.src = '/Home/zhuce/code?math='+Math.random();  //改路经。
}
function submit(){
	//alert('fasdfa');
	var user=$('#user').val();
	var pwd=$('#pwd').val();
	var photo=$('#photo').val();
	var email=$('#email').val();
	if( user == "" || pwd =="" || photo =="" || email==""){alert('信息不能为空！');}else{
	$.get('/api/user/check',{user:user},function(ret){
		if(ret == 0){
			alert('用户已经存在');
			return;
		}
		else{
			document.getElementById('user_add').submit();
		}
	});
	//document.getElementById('user_add').submit();
}
}	
</script>
<include file="./Application/Home/View/share/public/foot_gai.html" />
</body>
</html>
